{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
    <h1 class="mb-2 text-4xl text-center font-bold tracking-tight text-gray-900 dark:text-white">Gérer les sites</h1>


<div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h2>Filtrer les sites</h2>
    <form action="{{ path('app_site_filter') }}">
        <table>
            <tr>
                <td><label for="site">Le nom contient :</label></td>
                <td><input id="site" name="site" type="text"></td>
                <td><button type="submit">Rechercher</button></td>
            </tr>
        </table>

    </form>
</div>

    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Nom</th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <td class="px-6 py-4">{{ site.nom }}</td>
                    <td class="px-6 py-4">
                        <a href="{{ path('app_site_show', {'id': site.id}) }}">Modifier</a> -
                        <a href="{{ path('app_site_edit', {'id': site.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
       <a href="{{ path('app_site_new') }}">Create new</a>
{% endblock %}
