{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}



    <section class="dark:bg-gray-900 p-3 sm:p-5">

        <div class="mx-auto px-4 lg:px-12">

            <div class="overflow-x-auto">

                <form class="space-y-4 md:space-y-6 w-5/6 sm:w-5/6 md:w-2/3 lg:w-2/5 xl:w-2/5 2xl:w-1/3 mt-10 mx-auto p-8 border-y-4 border-blue-600 rounded-lg shadow-md"
                      method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a
                                    href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    {% endif %}


                    <div>

                        <div class="flex items-start flex-col ml-10">

                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                   for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   autocomplete="email" required autofocus>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                   for="inputPassword">Mot
                                de passe</label>
                            <input type="password" name="password" id="inputPassword"
                                   class="form-control  bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">


                            <div class="flex-wrap">

                                <input type="checkbox" name="_remember_me"
                                       class="form-check-input w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                                <label class="form-check-label bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm   text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                    Se souvenir de moi
                                </label>

                                <div class="flex">

                                    <button class=" block py-2.5 px-0 mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                     font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                            type="submit">Se connecter
                                    </button>

                                    <a class="block py-2.5 px-0 mt-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                     font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                                       href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                                </div>



                            </div>


                        </div>


                    </div>


                </form>


            </div>


        </div>


    </section>

{% endblock %}
