{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {#    <h1>Edit User</h1> #}


    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">

        <div class="overflow-x-auto">


            {{ form_start(form,  {'attr' : {'class' : ' w-5/6 sm:w-5/6 md:w-2/3 lg:w-2/5 xl:w-2/5 2xl:w-1/3 mt-10  mx-auto p-8 border-y-4 border-blue-600 rounded-lg shadow-md'}} ) }}

            <h3 class="font-semibold text-center">Editer profil</h3>

            {{ form_widget(form) }}

            <div class="flex justify-between mt-5">
                <button class="btn">
                    <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M20.8477 1.87868C19.6761 0.707109 17.7766 0.707105 16.605 1.87868L2.44744 16.0363C2.02864 16.4551 1.74317 16.9885 1.62702 17.5692L1.03995 20.5046C0.760062 21.904 1.9939 23.1379 3.39334 22.858L6.32868 22.2709C6.90945 22.1548 7.44285 21.8693 7.86165 21.4505L22.0192 7.29289C23.1908 6.12132 23.1908 4.22183 22.0192 3.05025L20.8477 1.87868ZM18.0192 3.29289C18.4098 2.90237 19.0429 2.90237 19.4335 3.29289L20.605 4.46447C20.9956 4.85499 20.9956 5.48815 20.605 5.87868L17.9334 8.55027L15.3477 5.96448L18.0192 3.29289ZM13.9334 7.3787L3.86165 17.4505C3.72205 17.5901 3.6269 17.7679 3.58818 17.9615L3.00111 20.8968L5.93645 20.3097C6.13004 20.271 6.30784 20.1759 6.44744 20.0363L16.5192 9.96448L13.9334 7.3787Z"
                              fill="#0F0F0F"/>
                    </svg>
                </button>
                <a href="{{ path('app_profile_detail') }}">
                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="25px" height="25px" viewBox="0 0 45.532 45.532"
                         xml:space="preserve">
<g>
    <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765
		S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53
		c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012
		c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592
		c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"/>
</g>
</svg>
                </a>


                {{ form_end(form) }}


                <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}"
                      onsubmit="return confirm('Vous êtes sur de vouloir supprimer cet utilisateur');">
                    <button class="btn">
                        <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 12V17" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M14 12V17" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M4 7H20" stroke="#000000" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10"
                                  stroke="#000000" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                            <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                                  stroke="#000000" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                    </button>
                </form>
            </div>
        </div>
    </section>


{% endblock %}