{% extends 'base.html.twig' %}

{% block title %}Sortie detail{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <style>
        #map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
            height:400px;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
{% endblock %}

{% block body %}
    <section class=" dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">

                <div class="p-5 max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">{{ sortie.nom }}</h2>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Description : </span>{{ sortie.infosSortie }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Début de la sortie : </span>{{ sortie.dateHeureDebut|date('Y-m-d H:i:s') }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Durée : </span>
                        {% if sortie.duree//60 == 1 %}
                            {{ sortie.duree//60 }} heure
                        {% endif %}
                        {% if sortie.duree//60 > 1 %}
                            {{ sortie.duree//60 }} heures
                        {% endif %}
                        {% if sortie.duree%60 > 1 %}
                            {{ sortie.duree%60 }} minutes
                        {% endif %}
                        {% if sortie.duree%60 == 1 %}
                            {{ sortie.duree%60 }} minute
                        {% endif %}
                    <p class="mb-4 font-medium"><span class="font-extrabold">Date de fin des inscriptions : </span>{{ sortie.dateLimiteInscription|date('Y-m-d H:i:s') }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Nombre de participant / nombres de places : </span>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Ville organisatrice : </span>Ville organisatrice : {{ sortie.organisateur.site.nom }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Lieu : </span>{{ sortie.lieu.nom }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Rue : </span>{{ sortie.lieu.rue }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Ville : </span>{{ sortie.lieu.ville.nom }}</p>
                    <p class="mb-4 font-medium"><span class="font-extrabold">Code Postal : </span>{{ sortie.lieu.ville.codepostal }}</p>
                    <div id="map">
                        <!-- Ici s'affichera la carte -->
                    </div>


                    <p class="mb-4 font-medium"><span class="font-extrabold">Particpants :<br> </span></p>
                        {% for participant in sortie.participants %}
                            <a href="{{ path("app_profile_detail_id",{'id' : participant.id}) }}"><p class="mb-4 font-medium">{{ participant.prenom }} {{ participant.nom }}</p></a>
                        {% endfor %}



                    {% if sortie.etat.id <6 %}
                        {% if is_granted('ROLE_ADMIN') or app.user == sortie.organisateur %}
                            <td class="px-4 py-3"><a href="{{ path("app_sorties_annuler",{'id' : sortie.id}) }}">annuler</a></td>
                        {% endif %}
                    {% endif%}

                    {% if sortie.etat.id == 1 %}
                        {% if app.user == sortie.organisateur %}
                            <td class="px-4 py-3"><a href="{{ path("app_sortie_update",{'id' : sortie.id}) }}">editer</a></td>
                        {% endif %}
                    {% endif%}

                    {#                <a href="#" class="inline-flex items-center font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">#}
                    {#                    Learn more#}
                    {#                    <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>#}
                    {#                </a>#}
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        // On initialise la latitude et la longitude de Paris (centre de la carte)
        let lat = {{ sortie.lieu.longitude }};
        let lon = {{ sortie.lieu.latitude }};
        let zoom = 18;
        let macarte = null;
        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map').setView([lat, lon], zoom);
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            }).addTo(macarte);
            let marker = L.marker([lat, lon]).addTo(macarte);
        }
        window.onload = function(){
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap();
        };
    </script>

{% endblock %}